<div class="col-xs-12">
    <form>
        <div class="row">
            <div class="col-sm-12 form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" class="form-control">
            </div>
            <div class="col-sm-12 form-group">
                <label for="descripcion">Descripción</label>
                <textarea type="text" id="descripcion" class="form-control"></textarea>
            </div>
        </div>
    </form>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <button type="submit" class="btn btn-success">Añadir</button>
        <button type="button" class="btn btn-primary">Descartar</button>
    </div>
</div>
