<div class="container">
    <div class="row" class="imgDiv">
        <div class="col-xs-12">
            <img 
                [src]="vinoDetail.imagePath" 
                [alt]="vinoDetail.nombre" 
                class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>{{ vinoDetail.nombre }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-warning">Editar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>{{ vinoDetail.breveDescripcion }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Uvas</p>
        </div>
    </div>
</div>