<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <img src="" alt="" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Nombre del vino</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-warning">Editar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Descripción del vino</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Uvas</p>
        </div>
    </div>
</div>